* {
   font-family: Arial, sans-serif;
   color: azure;
}
.container-wrap {
  width: 100%;
  height: 20vh;
  background-image: url("imagebanner.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
 
 
  
}


.item {
  

}

.logo {
 
}
placeholder {
  border-radius: 300px;

}
main {
  width: 400vh;
}
