
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 80px;
  background-image: url('imagebanner.jpeg');
  background-size: cover;
  background-position: center;
  padding: 20px 0 15px;

  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: end;
  gap: 40px;
}

nav span {
  color: white;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

nav>div>img {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.logo {
  height: 32px;
}

nav>div {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

input {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

input:hover {
  opacity: 1;
}

div:hover .oscar,
div:hover .oscar-desc,
div:hover .play,
div:hover .play-desc {
  opacity: 1;
}